<div style="padding: 20px," ng-show="admin.isAdmin">
    <button style="margin: 20px" class="btn btn-success btn-lg" ng-click="admin.showForm()">Add new user</button>
    <form name="form" ng-show="admin.isExpanded" id="uForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputText3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-6 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" id="inputText3" placeholder="Login"
                       ng-model="admin.userInfo.name" ng-minlength="4" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email"
                       ng-model="userForm.userInfo.email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-6 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input type="number" class="form-control" id="inputPhone3" placeholder="Phone"
                       ng-model="admin.userInfo.phone" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <button type="reset" ng-disabled="form.$invalid" class="btn btn-success pull-right"
                        ng-click="admin.save(admin.userInfo)">Add
                </button>
            </div>
            <div ng-show="admin.isUserAddedSuccessfully" class="col-sm-6 col-sm-offset-2 alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                You have successfully added new user.
            </div>
        </div>
    </form>
</div>
<div class="container panel panel-info">
    <div class="panel-heading row col-md-12">
        <div class="col-md-1">Users</div>
        <a style="cursor: pointer;" class="glyphicon glyphicon-refresh col-md-1 col-md-offset-10" ng-click="admin.getUsersData()"></a>
    </div>
    <div ng-show="admin.isRemoved" class="col-sm-12 alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        User has been successfully removed.
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>email</th>
            <th>phone</th>
            <th>roles</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        <div style="display: block;" id="progressbar" class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100" aria-valuenow="50" style="width: 50%">
                <span class="sr-only"> 45% complete</span>
            </div>
        </div>
        <div>{{$scope.users}}</div>
        <tr ng-repeat="user in admin.users">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <span ng-repeat="role in user.role">{{role.authority}} </span>
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button class="btn btn-warning">Edit</button>
                    <button ng-click="admin.deleteUser(user)" type="submit" class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>